*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;

  font-size: 16px;
  color: #CECECE;
  font-weight: 400;
  
}
body.stop{
  overflow: hidden;
}
#root{
  overflow: hidden;
}
.container{
  
  padding: 0 15px;
  max-width: 1280px;
  margin: 0 auto;
}